slider {
	position: relative;
	display: block;
	margin-bottom: 30px;
	margin-bottom: 10px;
}
slider label {
	display: block;
	height: 42px;
	white-space: nowrap;
}
slider bar {
	height: 25px;
	background: white;
	-moz-border-radius: 5px;
	overflow: hidden;
	position: relative;
	display: block;
}
slider bar empty,
slider bar overflow,
slider bar filler,
slider bar subfiller {
	height: 23px;
	position: relative;
	display: block;
}
slider bar empty {
	-moz-box-shadow: inset 0 1px 3px #c5c5c5;
	border: 1px solid #8e8e8e;
	background: white;
	-moz-border-radius: 5px;
	overflow: hidden;
}
slider bar overflow {
	background-image: url('../../../images/slider/bar_overflow.png');
	border: 1px solid #8e8e8e;
	position: absolute;
	top: 0;
	margin-left: -2px;
	color: #333;
	font-size: 10px;
	line-height: 24px;
	text-indent: 5px;
	font-style: italic;
}
slider bar filler {
	background-image: url('../../../images/slider/bar_filler.png');
	border: 1px solid #021d3a;
	top: -25px;
}
slider bar subfiller {
	color: #81a4c7;
	border-right: 1px dotted #81a4c7;
	line-height: 24px;
	font-weight: normal;
	font-size: 10px;
	font-style: italic;
	text-align: right;
	padding-right: 5px;
	margin-left: -5px;
}
slider labelmin {
	position: absolute;
	left: 0;
	top: 21px;
	display: block;
}
slider labelmax {
	position: absolute;
	right: 0;
	top: 21px;
	display: block;
}
slider labelcenter {
	position: absolute;
	left: 50%;
	text-align: center;
	top: 21px;
	display: block;
	margin-left: -200px;
	width: 400px;
}
slider bubble {
	position: absolute;
	top: 13px;
	width: 80px;
	margin-left: -40px;
	height: 55px;
	display: block;
}
slider bubble dragthis {
	position: absolute;
	bottom: 0;
	left: 20px;
	background-image: url('../../../images/slider/dragthis.png');
	width: 36px;
	height: 27px;
	display: block;
}
slider bubble inputwrapper {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../../../images/slider/bubble.png');
	width: 79px;
	height: 34px;
	display: block;
}
slider bubble input[type="text"] {
	position: absolute;
	left: 3px;
	width: 63px;
	top: 4px;
	height: 17px;
	font-size: 10px;
	line-height: 18px;
	border: 0 none;
	text-align: center;
	background: white;
	display: block;
}

.keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}
.keyboard li {
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #6d6d6d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: inset 0 0 1px #000, inset 0 2px 0 #fff;
}
.keyboard .capslock,
.keyboard .tab,
.keyboard .left-shift {
	clear: left;
}
.keyboard .tab,
.keyboard .back {
	width: 70px;
}
.keyboard .capslock {
	width: 80px;
}
.keyboard .enter {
	width: 77px;
}
.keyboard .left-shift {
	width: 95px;
}
.keyboard .hidekeyboard,
.keyboard .hidekeyboard.pressed {
	width: 109px;
	background-image: url('/images/keyboard/hide.png');
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -6000px;
}
.keyboard .lastitem {
	margin-right: 0;
}
.keyboard .uppercase {
	text-transform: uppercase;
}
.keyboard .space {
	clear: left;
	width: 681px;
}
.keyboard .on {
	display: none;
}
.keyboard li.pressed,
.keyboard li.pressedcapslock {
	background-image: url('/images/keyboard/pressed.png');
	box-shadow: inset 0 0 1px #000, inset 0 -2px 0 #fff;
	border: 1px solid #6d6d6d;
	top: 0;
	left: 0;
}